Repository klever-io/klever-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, smart-contracts, tutorials, blockchain, sdks, frontend, dependencies, config, github-actions

Remove depreacted --user flag
  src/app/about-our-technology/page.mdx
  src/app/account-permissions/page.mdx
  src/app/become-a-validator/page.mdx
  src/app/create-local-testnet/page.mdx
  src/app/delegation/page.mdx
  src/app/node-operations/page.mdx
  src/app/smart-contracts/reference/upgrading/page.mdx
  src/app/staking/page.mdx
Labels: documentation, smart-contracts

Remove depreacted --user flag (#55)
  src/app/about-our-technology/page.mdx
  src/app/account-permissions/page.mdx
  src/app/become-a-validator/page.mdx
  src/app/create-local-testnet/page.mdx
  src/app/delegation/page.mdx
  src/app/node-operations/page.mdx
  src/app/smart-contracts/reference/upgrading/page.mdx
  src/app/staking/page.mdx
Labels: documentation, smart-contracts

Move chown requirement to a warning
  src/app/about-our-technology/page.mdx
  src/app/account-permissions/page.mdx
  src/app/become-a-validator/page.mdx
  src/app/create-local-testnet/page.mdx
  src/app/delegation/page.mdx
  src/app/node-operations/page.mdx
  src/app/smart-contracts/reference/upgrading/page.mdx
  src/app/staking/page.mdx
  src/components/mdx.tsx
Labels: documentation, smart-contracts, frontend

Move chown requirement to a warning (#56)
  src/app/about-our-technology/page.mdx
  src/app/account-permissions/page.mdx
  src/app/become-a-validator/page.mdx
  src/app/create-local-testnet/page.mdx
  src/app/delegation/page.mdx
  src/app/node-operations/page.mdx
  src/app/smart-contracts/reference/upgrading/page.mdx
  src/app/staking/page.mdx
  src/components/mdx.tsx
Labels: documentation, smart-contracts, frontend

Add instructions for chown on newer Docker versions (#57)
  src/app/about-our-technology/page.mdx
  src/app/account-permissions/page.mdx
  src/app/become-a-validator/page.mdx
  src/app/create-local-testnet/page.mdx
  src/app/delegation/page.mdx
  src/app/node-operations/page.mdx
  src/app/smart-contracts/reference/upgrading/page.mdx
  src/app/staking/page.mdx
  src/components/mdx.tsx
Labels: documentation, smart-contracts, frontend

fix dependency managment inconsistencies
  .nvmrc
  README.md
  pnpm-lock.yaml
Labels: documentation, dependencies

update package
  package.json
Labels: dependencies

chore: add base of essential docs
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
Labels: documentation

chore: enforce pnpm version
  .github/workflows/check-links.yml
  .github/workflows/ci.yml
  .github/workflows/lighthouse.yml
  .github/workflows/security.yml
Labels: github-actions

chore: add base of essential docs (#59)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
Labels: documentation

Update KDA Pool tutorial by removing testnet note
  src/app/tutorials/kda-pool/page.mdx
Labels: documentation, tutorials

Update KDA Pool tutorial by removing testnet note (#60)
  src/app/tutorials/kda-pool/page.mdx
Labels: documentation, tutorials

[KLC-1784] fix dependency management inconsistencies and update deprecated packages (#58)
  .github/workflows/check-links.yml
  .github/workflows/ci.yml
  .github/workflows/lighthouse.yml
  .github/workflows/security.yml
  .nvmrc
  README.md
  package.json
  pnpm-lock.yaml
Labels: documentation, dependencies, github-actions

docs: add Semi-Fungible Tokens (SFT) documentation section
  src/app/contracts/page.mdx
  src/app/royalties/page.mdx
  src/app/semi-fungible-tokens/application-guide/page.mdx
  src/app/semi-fungible-tokens/page.mdx
  src/app/semi-fungible-tokens/token-comparison/page.mdx
  src/app/semi-fungible-tokens/use-cases/page.mdx
  src/consts/navigation.ts
Labels: documentation, blockchain

feat: bridge relayer deploy and config section
  src/app/bridge/relayers/page.mdx
  src/app/bridge/relayers/running-a-relayer/page.mdx
  src/consts/navigation.ts
Labels: documentation

feat: bridge relayer deploy and config section (#61)
  src/app/bridge/relayers/page.mdx
  src/app/bridge/relayers/running-a-relayer/page.mdx
  src/consts/navigation.ts
Labels: documentation

Add SFT and Deploy Bridge Relayers sections (#62)
  .github/workflows/check-links.yml
  .github/workflows/ci.yml
  .github/workflows/lighthouse.yml
  .github/workflows/security.yml
  .nvmrc
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  package.json
  pnpm-lock.yaml
  src/app/bridge/relayers/page.mdx
  src/app/bridge/relayers/running-a-relayer/page.mdx
  src/app/contracts/page.mdx
  src/app/royalties/page.mdx
  src/app/semi-fungible-tokens/application-guide/page.mdx
  src/app/semi-fungible-tokens/page.mdx
  src/app/semi-fungible-tokens/token-comparison/page.mdx
  src/app/semi-fungible-tokens/use-cases/page.mdx
  src/app/tutorials/kda-pool/page.mdx
  src/consts/navigation.ts
Labels: documentation, tutorials, blockchain, dependencies, github-actions

docs: enhance operator account permission section with detailed parameters and examples
  src/app/node-operations/page.mdx
Labels: documentation

docs: remove ambiguos
  src/app/node-operations/page.mdx
Labels: documentation

docs: update operator account permission examples and operations breakdown
  src/app/node-operations/page.mdx
Labels: documentation

docs: document VM CPU requirements for running Klever node
  src/app/node-operations/page.mdx
Labels: documentation

docs: correct operations code in operator account permission section
  src/app/node-operations/page.mdx
Labels: documentation

docs: improve docs wording
  src/app/node-operations/page.mdx
Labels: documentation

[KLC-1959] Document VM CPU requirements for running a node (#64)
  src/app/node-operations/page.mdx
Labels: documentation

[KLC-2016] Update Account Permission documentation with missing params and examples (#63)
  src/app/node-operations/page.mdx
Labels: documentation

Update smart contracts payment reference
  src/app/smart-contracts/reference/payments/page.mdx
Labels: documentation, smart-contracts

Implement pull request review suggestions
  src/app/smart-contracts/reference/payments/page.mdx
Labels: documentation, smart-contracts

[KLC-2068] Update smart contracts payment reference (#65)
  src/app/smart-contracts/reference/payments/page.mdx
Labels: documentation, smart-contracts

update MCP documentation
  src/app/using-ai-on-kvm/ai-environment-setup/page.mdx
  src/app/using-ai-on-kvm/ai-environment-setup/quick-setup/page.mdx
  src/app/using-ai-on-kvm/ai-environment-setup/run-locally/page.mdx
  src/app/using-ai-on-kvm/mcp-reference/functions/page.mdx
  src/app/using-ai-on-kvm/mcp-reference/knowledge-base/page.mdx
  src/app/using-ai-on-kvm/mcp-reference/mcp-prompts/page.mdx
  src/app/using-ai-on-kvm/mcp-reference/page.mdx
Labels: documentation

enhance navigation structure with AI usage sections
  src/consts/navigation.ts
Labels: none

update MCP documentation with Redis storage options
  src/app/using-ai-on-kvm/ai-environment-setup/run-locally/page.mdx
  src/app/using-ai-on-kvm/mcp-reference/functions/page.mdx
  src/consts/navigation.ts
Labels: documentation

update MCP documentation for clarity and accuracy
  src/app/using-ai-on-kvm/ai-environment-setup/page.mdx
  src/app/using-ai-on-kvm/ai-environment-setup/quick-setup/page.mdx
  src/app/using-ai-on-kvm/ai-environment-setup/run-locally/page.mdx
  src/app/using-ai-on-kvm/mcp-reference/functions/page.mdx
  src/app/using-ai-on-kvm/mcp-reference/knowledge-base/page.mdx
  src/app/using-ai-on-kvm/mcp-reference/mcp-prompts/page.mdx
  src/app/using-ai-on-kvm/mcp-reference/page.mdx
Labels: documentation

update installation guide to include AI web portal and MCP server endpoint
  src/app/using-ai-on-kvm/ai-environment-setup/page.mdx
Labels: documentation

fix: correct title casing for AI coding project structure in navigation
  src/consts/navigation.ts
Labels: none

update quick setup documentation to include online exploration link for AI-assisted development
  src/app/using-ai-on-kvm/ai-environment-setup/quick-setup/page.mdx
Labels: documentation

update MCP documentation to include next steps
  src/app/using-ai-on-kvm/mcp-reference/functions/page.mdx
  src/app/using-ai-on-kvm/mcp-reference/knowledge-base/page.mdx
  src/app/using-ai-on-kvm/mcp-reference/mcp-prompts/page.mdx
Labels: documentation

[KLC-2168] Restructure and update MCP Server documentation (#67)
  src/app/using-ai-on-kvm/ai-environment-setup/page.mdx
  src/app/using-ai-on-kvm/ai-environment-setup/quick-setup/page.mdx
  src/app/using-ai-on-kvm/ai-environment-setup/run-locally/page.mdx
  src/app/using-ai-on-kvm/mcp-reference/functions/page.mdx
  src/app/using-ai-on-kvm/mcp-reference/knowledge-base/page.mdx
  src/app/using-ai-on-kvm/mcp-reference/mcp-prompts/page.mdx
  src/app/using-ai-on-kvm/mcp-reference/page.mdx
  src/consts/navigation.ts
Labels: documentation

feat: add AI-Assisted Development section to navigation
  src/app/ai/page.mdx
  src/consts/navigation.ts
Labels: documentation

feat: create Skills page and update navigation for AI-assisted development
  src/app/ai/page.mdx
  src/app/skills/page.mdx
  src/consts/navigation.ts
Labels: documentation

refactor(nav): rename using-ai-on-kvm route to ai-for-kvm
  src/app/ai-for-kvm/ai-environment-setup/page.mdx
  src/app/ai-for-kvm/ai-environment-setup/quick-setup/page.mdx
  src/app/ai-for-kvm/ai-environment-setup/run-locally/page.mdx
  src/app/ai-for-kvm/mcp-reference/functions/page.mdx
  src/app/ai-for-kvm/mcp-reference/knowledge-base/page.mdx
  src/app/ai-for-kvm/mcp-reference/mcp-prompts/page.mdx
  src/app/ai-for-kvm/mcp-reference/page.mdx
  src/app/ai-for-kvm/mcp-workflow/page.mdx
  src/app/ai-for-kvm/page.mdx
  src/app/ai-for-kvm/project-structure-for-ai-coding/page.mdx
  src/app/ai/page.mdx
  src/consts/navigation.ts
Labels: documentation

.github/labeler.yml:

# Configuration for GitHub labeler action

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'

smart-contracts:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/app/smart-contracts/**'
      - 'src/app/klever-vm/**'

tutorials:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/app/tutorials/**'

blockchain:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/app/contracts/**'
      - 'src/app/contract-details/**'
      - 'src/app/getting-started-with-klever-blockchain/**'

sdks:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/app/introduction-to-kleverchain-sdk/**'
      - 'src/app/api-and-sdk/**'
      - 'src/app/go/**'
      - 'src/app/csharp/**'
      - 'src/app/node.js/**'
      - 'src/app/sdks/**'
      - 'src/app/unity/**'


frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/components/**'
      - 'src/styles/**'
      - '*.css'
      - 'tailwind.config.ts'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'pnpm-lock.yaml'

config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.config.*'
      - 'tsconfig.json'
      - '.eslintrc.json'

github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/**/*.yml'
