Repository klever-io/klever-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, smart-contracts, tutorials, blockchain, sdks, frontend, dependencies, config, github-actions

[KLC-2175] Create AI Developer guide (#68)
  src/app/ai-for-kvm/ai-environment-setup/page.mdx
  src/app/ai-for-kvm/ai-environment-setup/quick-setup/page.mdx
  src/app/ai-for-kvm/ai-environment-setup/run-locally/page.mdx
  src/app/ai-for-kvm/mcp-reference/functions/page.mdx
  src/app/ai-for-kvm/mcp-reference/knowledge-base/page.mdx
  src/app/ai-for-kvm/mcp-reference/mcp-prompts/page.mdx
  src/app/ai-for-kvm/mcp-reference/page.mdx
  src/app/ai-for-kvm/mcp-workflow/page.mdx
  src/app/ai-for-kvm/page.mdx
  src/app/ai-for-kvm/project-structure-for-ai-coding/page.mdx
  src/app/ai/page.mdx
  src/app/skills/page.mdx
  src/consts/navigation.ts
Labels: documentation

feat: Add Benchmark Tool documentation
  src/app/benchmark-tool/page.mdx
  src/app/node-operations/page.mdx
  src/consts/navigation.ts
Labels: documentation

chore: Update local testnet docs to use kleverchain-localnet automated setup
  src/app/create-local-testnet/page.mdx
Labels: documentation

chore: Add chown permissions step for benchmark folder setup
  src/app/benchmark-tool/page.mdx
Labels: documentation

chore: Update Linux permissions guidance for local testnet setup
  src/app/create-local-testnet/page.mdx
Labels: documentation

[KLC-2269] feat: Add Benchmark Tool documentation (#69)
  src/app/benchmark-tool/page.mdx
  src/app/node-operations/page.mdx
  src/consts/navigation.ts
Labels: documentation

[KLC-2299] Update local testnet docs to use kleverchain-localnet (#70)
  src/app/create-local-testnet/page.mdx
Labels: documentation

fix: Update default code metadata flags in koperator documentation
  src/app/smart-contracts/data/code-metadata/page.mdx
Labels: documentation, smart-contracts

fix: Update default code metadata flags in koperator documentation (#71)
  src/app/smart-contracts/data/code-metadata/page.mdx
Labels: documentation, smart-contracts

feat: klever connect docs
  src/app/introduction-to-kleverchain-sdk/page.mdx
  src/app/javascript-sdk/connect-packages/connect-contracts/page.mdx
  src/app/javascript-sdk/connect-packages/connect-core/page.mdx
  src/app/javascript-sdk/connect-packages/connect-crypto/page.mdx
  src/app/javascript-sdk/connect-packages/connect-encoding/page.mdx
  src/app/javascript-sdk/connect-packages/connect-provider/page.mdx
  src/app/javascript-sdk/connect-packages/connect-react/page.mdx
  src/app/javascript-sdk/connect-packages/connect-transactions/page.mdx
  src/app/javascript-sdk/connect-packages/connect-wallet/page.mdx
  src/app/javascript-sdk/connect-packages/page.mdx
  src/app/javascript-sdk/node-js/page.mdx
  src/app/javascript-sdk/page.mdx
  src/app/javascript-sdk/web-app/page.mdx
  src/app/legacy/page.mdx
  src/app/legacy/sdk-v2/page.mdx
  src/app/semi-fungible-tokens/application-guide/page.mdx
  src/app/smart-contracts/how-to/crowdfunding/page.mdx
  src/components/Layout.tsx
  src/components/Navigation.tsx
  src/components/TableOfContents.tsx
  src/consts/navigation.ts
  src/styles/tailwind.css
Labels: documentation, smart-contracts, sdks, frontend

fix: connect crypto examples
  .gitignore
  src/app/javascript-sdk/connect-packages/connect-crypto/page.mdx
  src/app/javascript-sdk/node-js/page.mdx
  src/app/javascript-sdk/page.mdx
  src/components/Search.tsx
Labels: documentation, frontend

fix: web app scripts
  src/app/javascript-sdk/web-app/page.mdx
Labels: documentation

chore: remove references to web sdk, update smart contract docs
  next.config.mjs
  src/app/api-and-sdk/page.mdx
  src/app/exchange-integration/page.mdx
  src/app/page.mdx
  src/app/quickstart/page.mdx
  src/app/sdks/page.mdx
  src/app/smart-contracts/how-to/calling-your-contract-in-the-front-end/page.mdx
  src/app/web-app/page.mdx
Labels: documentation, smart-contracts, sdks, config

feat: klever connect docs (#72)
  .gitignore
  next.config.mjs
  src/app/api-and-sdk/page.mdx
  src/app/exchange-integration/page.mdx
  src/app/introduction-to-kleverchain-sdk/page.mdx
  src/app/javascript-sdk/connect-packages/connect-contracts/page.mdx
  src/app/javascript-sdk/connect-packages/connect-core/page.mdx
  src/app/javascript-sdk/connect-packages/connect-crypto/page.mdx
  src/app/javascript-sdk/connect-packages/connect-encoding/page.mdx
  src/app/javascript-sdk/connect-packages/connect-provider/page.mdx
  src/app/javascript-sdk/connect-packages/connect-react/page.mdx
  src/app/javascript-sdk/connect-packages/connect-transactions/page.mdx
  src/app/javascript-sdk/connect-packages/connect-wallet/page.mdx
  src/app/javascript-sdk/connect-packages/page.mdx
  src/app/javascript-sdk/node-js/page.mdx
  src/app/javascript-sdk/page.mdx
  src/app/javascript-sdk/web-app/page.mdx
  src/app/legacy/page.mdx
  src/app/legacy/sdk-v2/page.mdx
  src/app/page.mdx
  src/app/quickstart/page.mdx
  src/app/sdks/page.mdx
  src/app/semi-fungible-tokens/application-guide/page.mdx
  src/app/smart-contracts/how-to/calling-your-contract-in-the-front-end/page.mdx
  src/app/smart-contracts/how-to/crowdfunding/page.mdx
  src/app/web-app/page.mdx
  src/components/Layout.tsx
  src/components/Navigation.tsx
  src/components/Search.tsx
  src/components/TableOfContents.tsx
  src/consts/navigation.ts
  src/styles/tailwind.css
Labels: documentation, smart-contracts, sdks, frontend, config

fix: sdks section title
  src/consts/navigation.ts
Labels: none

fix: sdks section title (#74)
  src/consts/navigation.ts
Labels: none

KLC-2330: add Klever Connect MCP docs + restructure VM routes
  next.config.mjs
  src/app/ai/page.mdx
  src/app/mcp/klever-connect/page.mdx
  src/app/mcp/klever-connect/reference/env-vars/page.mdx
  src/app/mcp/klever-connect/reference/page.mdx
  src/app/mcp/klever-connect/reference/resources/page.mdx
  src/app/mcp/klever-connect/reference/tools/page.mdx
  src/app/mcp/klever-connect/setup/manual/page.mdx
  src/app/mcp/klever-connect/setup/marketplace/page.mdx
  src/app/mcp/klever-connect/setup/page.mdx
  src/app/mcp/klever-connect/setup/public-hosted/page.mdx
  src/app/mcp/klever-vm/page.mdx
  src/app/mcp/klever-vm/project-structure/page.mdx
  src/app/mcp/klever-vm/reference/functions/page.mdx
  src/app/mcp/klever-vm/reference/knowledge-base/page.mdx
  src/app/mcp/klever-vm/reference/page.mdx
  src/app/mcp/klever-vm/reference/prompts/page.mdx
  src/app/mcp/klever-vm/setup/page.mdx
  src/app/mcp/klever-vm/setup/quick-setup/page.mdx
  src/app/mcp/klever-vm/setup/run-locally/page.mdx
  src/app/mcp/klever-vm/workflow/page.mdx
  src/app/mcp/page.mdx
  src/consts/navigation.ts
Labels: documentation, config

Replace npm version cell with live npm link to avoid per-release drift
  src/app/mcp/klever-connect/page.mdx
Labels: documentation

chore: update next
  .eslintrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Code.tsx
  src/components/SectionProvider.tsx
  tsconfig.json
  yarn.lock
Labels: frontend, dependencies, config

chore: update next (#76)
  .eslintrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Code.tsx
  src/components/SectionProvider.tsx
  tsconfig.json
  yarn.lock
Labels: frontend, dependencies, config

[KLC-2330] Add Klever Connect MCP docs and restructure VM routes (#75)
  next.config.mjs
  src/app/ai/page.mdx
  src/app/mcp/klever-connect/page.mdx
  src/app/mcp/klever-connect/reference/env-vars/page.mdx
  src/app/mcp/klever-connect/reference/page.mdx
  src/app/mcp/klever-connect/reference/resources/page.mdx
  src/app/mcp/klever-connect/reference/tools/page.mdx
  src/app/mcp/klever-connect/setup/manual/page.mdx
  src/app/mcp/klever-connect/setup/marketplace/page.mdx
  src/app/mcp/klever-connect/setup/page.mdx
  src/app/mcp/klever-connect/setup/public-hosted/page.mdx
  src/app/mcp/klever-vm/page.mdx
  src/app/mcp/klever-vm/project-structure/page.mdx
  src/app/mcp/klever-vm/reference/functions/page.mdx
  src/app/mcp/klever-vm/reference/knowledge-base/page.mdx
  src/app/mcp/klever-vm/reference/page.mdx
  src/app/mcp/klever-vm/reference/prompts/page.mdx
  src/app/mcp/klever-vm/setup/page.mdx
  src/app/mcp/klever-vm/setup/quick-setup/page.mdx
  src/app/mcp/klever-vm/setup/run-locally/page.mdx
  src/app/mcp/klever-vm/workflow/page.mdx
  src/app/mcp/page.mdx
  src/consts/navigation.ts
Labels: documentation, config

feat: connect interactive tutorial link
  src/app/javascript-sdk/page.mdx
Labels: documentation

feat: connect interactive tutorial link (#78)
  src/app/javascript-sdk/page.mdx
Labels: documentation

docs: add logs websocket subscription to API & SDK reference
  src/app/api-and-sdk/page.mdx
Labels: documentation, sdks

Add node API hardening guide
  src/app/node-operations/securing-the-api/page.mdx
  src/consts/navigation.ts
Labels: documentation

Add node API hardening guide (#81)
  src/app/node-operations/securing-the-api/page.mdx
  src/consts/navigation.ts
Labels: documentation

docs(node-operations): bind REST API to loopback and document /log credentials (KLC-2663)
  src/app/node-operations/page.mdx
  src/app/node-operations/securing-the-api/page.mdx
Labels: documentation

docs(node-operations): add Time Synchronization section (KLC-2406)
  src/app/node-operations/page.mdx
Labels: documentation

docs: address review — fix handshake key and type names, document logs routing and envelope
  src/app/api-and-sdk/page.mdx
Labels: documentation, sdks

docs(node-operations): add Time Synchronization section (KLC-2406) (#83)
  src/app/node-operations/page.mdx
Labels: documentation

docs(node-operations): bind REST API to loopback and document /log credentials (KLC-2663) (#82)
  src/app/node-operations/page.mdx
  src/app/node-operations/securing-the-api/page.mdx
Labels: documentation

.github/labeler.yml:

# Configuration for GitHub labeler action

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'

smart-contracts:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/app/smart-contracts/**'
      - 'src/app/klever-vm/**'

tutorials:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/app/tutorials/**'

blockchain:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/app/contracts/**'
      - 'src/app/contract-details/**'
      - 'src/app/getting-started-with-klever-blockchain/**'

sdks:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/app/introduction-to-kleverchain-sdk/**'
      - 'src/app/api-and-sdk/**'
      - 'src/app/go/**'
      - 'src/app/csharp/**'
      - 'src/app/node.js/**'
      - 'src/app/sdks/**'
      - 'src/app/unity/**'


frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/components/**'
      - 'src/styles/**'
      - '*.css'
      - 'tailwind.config.ts'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'
      - 'pnpm-lock.yaml'

config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.config.*'
      - 'tsconfig.json'
      - '.eslintrc.json'

github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/**/*.yml'
